################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tutorial1_XraysOnOff/bin/x64/Release
/.vs/Tutorial1_XraysOnOff/v14
/Tutorial1_XraysOnOff/obj/x64/Release
